<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>BootStrap</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css"  href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		<div class="container">
			<div class="row" id="header">
				<div class="offset-md-4"></div>
				<div class="col">
					<h1>TOM_DICK</h1>
				</div>		
			</div>
			<div class="row" id="op">
				<div class="offset-md-4">
					<div>
						<div class="space1"></div>
					</div>
					<form action="mOpt" method=post>
						<h2> Perform your operation</h2><br>
						<h2> Operation are :-: 
						<select name="optSel">
							<option value="ed">Enter</option>
							<option value="fh">Fetch</option>
							<option value="del">Delete</option>
							<option value="up">Update</option>	
						</select>
						<input type="submit" value="OK"></input>
						</h2>
					</form>
				</div>
			</div>
			<div>
				<div class="space"></div>
			</div>
			<div class="row" id="footer">
				<div class="offset-md-4"></div>
				<div class="col-4">@Copyright: All right reserved </div>		
			</div>
		</div>
	</body>
</html>