<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>BootStrap</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css"  href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		<div class="container">
			<div class="row" id="header">
				<div class="offset-md-4"></div>
				<div class="col">
					<h1>TOM_DICK</h1>
				</div>		
			</div>
			<div class="space1"></div>
			<div class="row">
				<div class="offset-md-3"></div>
				<div class="col>"></div>
					<form action="delPerson" method=get>
						<h3>
							Enter Id :  <input type="text" name="id">
							<input type="submit" value="OK">
						</h3>
					</form>
				</div>
				<div class="space2"></div>
			</div>
			<div class="row" id="footer">
				<div class="offset-md-5"></div>
				<div class="col-5">@Copyright: All right reserved </div>		
			</div>
	</body>
</html>